.sidebar-item, .sidebar-item-focused{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 150px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 100px;
}

.sidebar-item-focused {
    background: linear-gradient(
    270deg,
    rgba(92, 128, 188, 0.01) 0%,
     #5C80BC 80%
  );
    color: #30323D;
}

.sidebar-item-label, .sidebar-item-label-selected {
    height: 150px;
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 40px;
    margin-top: 50px;
}

.sidebar-item-label-selected {
       opacity: 1;
}

.sidebar-item .sidebar-item-label span {
    opacity: 0.3;
}

.sidebar-item-focused .sidebar-item-label span {
    color: #30323D;
    opacity: 1;
}