@use '../../assets/utils/variables';

$sidebar-item-height: null;
$sidebar-item-width: null;
$sidebar-item-margin: null;
$sidebar-item-padding-left: null;
$sidebar-item-label-margin-top: null;
$sidebar-item-label-font-size: null;

@if(variables.$full-hd){
    $sidebar-item-height: 150px;
    $sidebar-item-width: 400px;
    $sidebar-item-margin: 10px 0 10px 0;
    $sidebar-item-padding-left: 100px;
    $sidebar-item-label-margin-top: 50px;
    $sidebar-item-label-font-size: 40px;
} @else {
    $sidebar-item-height: 100px;
    $sidebar-item-width: 267px;
    $sidebar-item-margin: 7px 0 7px 0;
    $sidebar-item-padding-left: 67px;
    $sidebar-item-label-margin-top: 33px;
    $sidebar-item-label-font-size: 27px;
}

.sidebar-item, .sidebar-item-focused{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: $sidebar-item-height;
    width: $sidebar-item-width;
    margin: $sidebar-item-margin;
    padding-left: $sidebar-item-padding-left;
}

.sidebar-item-focused {
    background: linear-gradient(
    270deg,
    rgba(92, 128, 188, 0.01) 0%,
     variables.$glaucous 80%
  );
    color: variables.$jet;
}

.sidebar-item-label, .sidebar-item-label-selected {
    height: $sidebar-item-height;
    width: $sidebar-item-width;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: $sidebar-item-label-font-size;
    margin-top: $sidebar-item-label-margin-top;
}

.sidebar-item-label-selected {
       opacity: 1;
}

.sidebar-item .sidebar-item-label span {
    opacity: 0.3;
}

.sidebar-item-focused .sidebar-item-label span {
    color: variables.$jet;
    opacity: 1;
}