.sidebar-item{
    box-sizing: border-box;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 150px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.sidebar-item-focused{
    box-sizing: border-box;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 150px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.sidebar-item-focused span {
    border-bottom: 4px solid #4D5061;
}

.selected-sidebar-item-focused span {
    border-bottom: 4px solid #4D5061;
}

.sidebar-item-label {
    height: 150px;
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sidebar-item-label span{
    color: #30323D;
    font-size: 40px;
}