.row-item {
  box-sizing: border-box;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #CDD1C4;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  width: 300px;
  padding: 20px;
  text-align: center;
  }
  
.row-item-focused {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  align-items: center;
  background-color: #CDD1C4;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  border: 8px solid #E8C547;
  width: 300px;
  padding: 12px;
  text-align: center;
  }
  
.row-item span {
  font-size: 30px;
  }
  
.row-item-focused span {
  font-size: 30px;
  }