@use '../../assets/utils/variables';

$list-item-margin-right: null;
$list-item-padding-or-border: null;
$list-movie-item-margin-left: null;
$thumbnail-height: null;
$thumbnail-width: null;
$list-item-height: null;
$list-item-width: null;
$movie-thumbnail-height: null;
$list-movie-item-height: null;
$thumbnail-span-height: null;
$thumbnail-span-padding: null;
$span-font-size: null;

@if(variables.$full-hd){
$list-item-margin-right: 40px;
$list-item-padding-or-border: 8px;
$list-movie-item-margin-left: 10px;
$thumbnail-height: 180px;
$thumbnail-width: 280px;
$list-item-height: $thumbnail-height + ($list-item-padding-or-border * 2);
$list-item-width: $thumbnail-width + ($list-item-padding-or-border * 2);
$movie-thumbnail-height: 500px;
$list-movie-item-height: $movie-thumbnail-height + ($list-item-padding-or-border * 2);
$thumbnail-span-height: 80px;
$thumbnail-span-padding: 20px;
$span-font-size: 30px;
} @else {
$list-item-margin-right: 27px;
$list-item-padding-or-border: 5px;
$list-movie-item-margin-left: 7px;
$thumbnail-height: 120px;
$thumbnail-width: 187px;
$list-item-height: $thumbnail-height + ($list-item-padding-or-border * 2);
$list-item-width: $thumbnail-width + ($list-item-padding-or-border * 2);
$movie-thumbnail-height: 333px;
$list-movie-item-height: $movie-thumbnail-height + ($list-item-padding-or-border * 2);
$thumbnail-span-height: 53px;
$thumbnail-span-padding: 13px;
$span-font-size: 20px;
}

.list-item, .list-item-focused {
  box-sizing: border-box;
  height: $list-item-height;
  width: $list-item-width;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  margin-right: $list-item-margin-right;
  }

  .list-item, .list-movie-item {
  padding: $list-item-padding-or-border;
  }
  
.list-item-focused, .list-movie-item-focused {
  border: $list-item-padding-or-border solid variables.$maize-crayola;
  }
  
.list-item span, .list-movie-item span, .list-item-focused span, .list-movie-item-focused span {
  font-size: $span-font-size;
  color: variables.$timberwolf;
  }

.thumbnail {
  height: $thumbnail-height;
  width: $thumbnail-width;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.thumbnail span, .movie-thumbnail span {
  display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    background: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.4) 30%,
      rgba(0, 0, 0, 0.7)
    );
    padding: $thumbnail-span-padding;
    height: $thumbnail-span-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .list-movie-item, .list-movie-item-focused {
    box-sizing: border-box;
    height: $list-movie-item-height;
    width: $list-item-width;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin-right: $list-item-margin-right;
    margin-left: $list-movie-item-margin-left;
    }

  .movie-thumbnail {
    height: $movie-thumbnail-height;
    width: $thumbnail-width;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }