.episodes-list-outer{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.episodes-list-inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

