.episodes-list-outer{
    color: white;
    font-size: 60px;
    width: 800px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.episodes-list-inner {
    padding-bottom: 10px;
}

.episode {
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.episode-focused {
    border: 1px solid black;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}