$full-hd: false;

@mixin absolute-positioning {
    position: absolute !important;
    top: 0;
    left: 0;
}

$glaucous: #5C80BC;
$maize-crayola: #E8C547;
$jet: #30323D;
$independence: #4D5061;
$timberwolf: #CDD1C4;