@use '../../assets//utils/variables';

$grid-controller-height: null;
$grid-controller-padding-bottom: null;
$grid-view-width: null;
$grid-view-margin-left: null;
$grid-outer-height: null;
$section-title-margin-top: null;
$section-title-margin-left: null;
$section-title-margin-bottom: null;
$section-title-font-size: null;
$section-title-height: null;

@if(variables.$full-hd){
  $grid-controller-height: 1080px;
  $grid-controller-padding-bottom: 100px;
  $grid-view-width: 1520px;
  $grid-view-margin-left: 90px;
  $section-title-margin-top: 50px;
  $section-title-margin-left: 100px;
  $section-title-margin-bottom: 50px;
  $section-title-font-size: 80px;
  $section-title-height: 100px;
} @else {
  $grid-controller-height: 720px;
  $grid-controller-padding-bottom: 67px;
  $grid-view-width: 1013px;
  $grid-view-margin-left: 60px;
  $section-title-margin-top: 33px;
  $section-title-margin-left: 67px;
  $section-title-margin-bottom: 33px;
  $section-title-font-size: 53px;
  $section-title-height: 67px;
}


.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: $grid-view-width;
  height: $grid-controller-height;
}

.grid-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: $grid-view-width - $grid-view-margin-left;
    margin-left: $grid-view-margin-left;
    height: $grid-controller-height - $section-title-height - $section-title-margin-bottom - $section-title-margin-top;
  }

.grid-outer {
  height: $grid-controller-height - $section-title-height - $section-title-margin-bottom - $section-title-margin-top;
  width: $grid-view-width - $grid-view-margin-left;
}

.section-title-container {
  height: $section-title-height;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: $section-title-margin-bottom;
  margin-top: $section-title-margin-top;
}

.section-title {
  color: variables.$jet;
  font-size: $section-title-font-size;
  text-decoration: underline;
  text-decoration-color: variables.$maize-crayola;
  margin-left: $section-title-margin-left;
  font-weight: bold;
  height: $section-title-height;
  height: $section-title-height;
}
  