.modal-controller {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1080px;
    width: 1920px;
}

.show-modal {
width: 1920px;
height: 1080px;
display: flex;
flex-direction: column;
align-items: flex-start;
background: linear-gradient(
    135deg,
     #5C80BC 0%,
     #CDD1C4 50%,
     #E8C547 100%
  );
}

.overview {
display: flex;
flex-direction: column;
justify-content: flex-start;
padding: 50px 50px 50px 0;
height: 1030px;
width: 1870px;
}

.element-description {
color: #30323D;
display: flex;
flex-direction: column;
justify-content: flex-start;
width: 1520px;
margin-bottom: 40px;
padding-left: 150px;
height: 300px;
}

.element-title{
    height: 80px;
    font-size: 60px;
    font-weight: bold;
}

.element-content {
 font-size: 40px;
}

.modal-outer {
    width: 1920px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.modal-inner {
    width: 1920px;
    transform: none !important;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal-title {
    font-size: 60px;
    color: white;
    padding: 20px;
}

.modal-title-focused {
    font-size: 60px;
    color: white;
    border: 1px solid #30323D;
    padding: 20px;
}